'scopeName': 'source.r'
'name': 'R'
'fileTypes': [
  'R'
  'r'
  's'
  'S'
  'Rprofile'
  'Rhistory'
]
'firstLineMatch': '^#![ \\t]*/.*\\bRscript\\b'
'patterns': [
  {
    'include': '#line_comments'
  }
  {
    'include': '#constants'
  }
  {
    'match': '\\b(library|require)\\b'
    'name': 'keyword.control.import.r'
  }
  {
    'include': '#control_constructs'
  }
  {
    'include': '#operators'
  }
  
  
  {
    'include': '#strings'
  }
  {
    'match': '\\b(function|break|next|return|in|invisible)\\b'
    'name': 'keyword.control.r'
  }
  {
    'comment': 'keywords that delimit an exception'
    'match': '\\b(try|tryCatch|withCallingHandlers|signalCondition|simpleError|simpleWarning|simpleMessage)\\b'
    'name': 'keyword.control.exception.r'
  }
  # TO WORK ON !!!!
  {
    'captures':
      '1':
        'name': 'entity.name.function.r'
    'match': '([[A-Za-z].][[0-9A-Za-z]._]*)\\('
  }
  {
    'captures':
      '1':
        'name': 'entity.name.function.r'
      '2':
        'name': 'keyword.operator.assignment.r'
      '3':
        'name': 'keyword.control.r'
    'match': '([[A-Za-z].][[0-9A-Za-z]._]*)\\s*(<-|=)\\s*(function)(\\()'
    'name': 'meta.function.r'
  }
  ## END TO WORK ON
  {
    'captures':
      '1':
        'name': 'entity.name.tag.r'
      '4':
        'name': 'entity.name.type.r'
    'match': '(setMethod|setReplaceMethod|setGeneric|setGroupGeneric|setClass)\\s*\\(\\s*([[A-Za-z]\\d]+\\s*=\\s*)?("|\\x{27})([a-zA-Z._\\[\\$@][a-zA-Z0-9._\\[]*?)\\3.*'
    'name': 'meta.method.declaration.r'
  }
  {
    'match': '([[A-Za-z].][[0-9A-Za-z]._]*)\\s*\\('
  }
  # {
  #   'captures':
  #     '1':
  #       'name': 'variable.parameter.r'
  #     '2':
  #       'name': 'keyword.operator.assignment.r'
  #   'match': '([[A-Za-z].][[0-9A-Za-z]._]*)\\s*(=)(?=[^=])'
  # }
  # {
  #   'match': '\\b([\\d_][[0-9A-Za-z]._]+)\\b'
  #   'name': 'invalid.illegal.variable.other.r'
  # }
  {
    'match': '\\b([0-9A-Za-z_.]+)(::)'
    'captures':
      '1':
        'name': 'entity.namespace.r'
      '2':
        'name': 'keyword.operator.namespace.r'
  }
  {
    'comment': 'empty vector c() NON FUNCTIONAL'
    'captures':
      '1':
        'name': 'punctuation.definition.list.begin.r'
      '2':
        'name': 'meta.empty-list.r'
      '3':
        'name': 'punctuation.definition.list.end.r'
    'match': '(c\\()(\\s*(\\)))\\b'
  }
  {
    'comment': 'NON FUNCTIONAL'
    'begin': '(c\\()'
    'beginCaptures':
      '1':
        'name': 'punctuation.definition.list.begin.r'
    'end': '(\\))'
    'endCaptures':
      '1':
        'name': 'punctuation.definition.list.end.r'
    'name': 'meta.structure.list.r'
    'patterns': [
      {
        'begin': '(?<=\\(|\\,)\\s*(?![\\),])'
        'contentName': 'meta.structure.list.item.r'
        'end': '\\s*(?:(,)|(?=\\)))'
        'endCaptures':
          '1':
            'name': 'punctuation.separator.list.r'
        'patterns': [
          {
            'include': '$self'
          }
        ]
      }
    ]
  }
  {
    'begin': '(?<=\\)|\\])\\s*(\\()'
    'beginCaptures':
      '1':
        'name': 'punctuation.definition.arguments.begin.python'
    'contentName': 'meta.function-call.arguments.python'
    'end': '(\\))'
    'endCaptures':
      '1':
        'name': 'punctuation.definition.arguments.end.python'
    'name': 'meta.function-call.python'
    'patterns': [
      {
        'include': '#keyword_arguments'
      }
      {
        'include': '$self'
      }
    ]
  }


  # Functions that use Regular Expressions:

  # {
  #   'include': '#generic_names'
  # }
  # {
  #   'include': '#illegal_names'
  # }
]
'repository':
  'builtin_functions':
    'match': '\\b(logical|numeric|character|complex|matrix|array|data\\.frame|list|factor)(?=\\s*\\()'
    'name': 'support.type.r'    
  'builtin_types':
    'match': '\\b(logical|numeric|character|complex|matrix|array|data\\.frame|list|factor)(?=\\s*\\()'
    'name': 'support.type.r'
  'constants':
    'patterns': [
      {
        'match': '\\b(?i:(0x\\h*)L)'
        'name': 'constant.numeric.integer.long.hexadecimal.python'
      }
      {
        'match': '\\b(?i:(0x\\h*))'
        'name': 'constant.numeric.integer.hexadecimal.python'
      }

      
      {
        'match': '\\.[0-9]+((e|E)(\\+|-)?[0-9]+)?(i|L|l|UL|ul|u|U|F|f|ll|LL|ull|ULL)?\\b'
        'name': 'constant.numeric.r'
        'comment': 'to color the period in front of .123'
      }
      {
        'match': '\\b((0(x|X)[0-9a-fA-F]*)|((\\.[0-9]+)|([0-9]+\\.?[0-9]*))((e|E)(\\+|-)?[0-9]+)?)(i|L|l|UL|ul|u|U|F|f|ll|LL|ull|ULL)?\\b'
        'name': 'constant.numeric.r'
        'comment': 'https://cran.r-project.org/doc/manuals/r-release/R-lang.html#Literal-constants'
      }
      {
        'match': '\\b(T|F|TRUE|FALSE|NULL|NA_integer_|NA_real_|NA_complex_|NA_character_|NA|Inf|NaN)\\b'
        'name': 'constant.language.r'
      }
      {
        'match': '\\b(pi|letters|LETTERS|month\\.abb|month\\.name)\\b'
        'name': 'support.constant.misc.r'
      }
    ]
  'control_constructs':
    'patterns': [
      {
        'match': ';'
        'name': 'keyword.control.end_statement.r'
        'comment': 'statements can be ended by a semicolon or newline'
      }
      {
        'begin': '\\{'
        'beginCaptures':
          '0':
            'name': 'keyword.section.block.begin.r'
        'end': '\\}'
        'endCaptures':
          '0':
            'name': 'keyword.section.block.end.r'
        'name': 'meta.block.r'
        'patterns': [
          {
            'include': '$self'
          }
        ]
      }
      {
        'comment': 'keywords that delimit flow conditionals'
        'match': '\\b(if|else)\\b'
        'name': 'keyword.control.conditional.r'
      }
      {
        'comment': 'keywords that delimit loops'
        'match': '\\b(for|while|repeat)\\b'
        'name': 'keyword.control.repeat.r'
      }
      {
        'match': '\\b(switch)\\b'
        'name': 'keyword.control.r'
      }
    ]
  'entity_name_function':
    'patterns': [
      {
        'include': '#illegal_names'
      }
      {
        'include': '#generic_names'
      }
    ]
  'escaped_char':
    'comment': 'https://cran.r-project.org/doc/manuals/r-release/R-lang.html#Special-operators'
    'captures':
      '1':
        'name': 'constant.character.escape.hex.r'
      '2':
        'name': 'constant.character.escape.octal.r'
      '3':
        'name': 'constant.character.escape.newline.r'
      '4':
        'name': 'constant.character.escape.backlash.r'
      '5':
        'name': 'constant.character.escape.double-quote.r'
      '6':
        'name': 'constant.character.escape.single-quote.r'
      '7':
        'name': 'constant.character.escape.bell.r'
      '8':
        'name': 'constant.character.escape.backspace.r'
      '9':
        'name': 'constant.character.escape.formfeed.r'
      '10':
        'name': 'constant.character.escape.return.r'
      '11':
        'name': 'constant.character.escape.tab.r'
      '12':
        'name': 'constant.character.escape.vertical-tab.r'
    'match': '(\\\\x[0-9A-Fa-f]{1,2})|(\\\\[0-7]{3})|(\\\\\\n)|(\\\\\\\\)|(\\\\\\")|(\\\\\')|(\\\\a)|(\\\\b)|(\\\\f)|(\\\\r)|(\\\\t)|(\\\\v)'
  'escaped_unicode_char':
    'captures':
      '13':
        'name': 'constant.character.escape.unicode.16-bit-hex.r'
      '14':
        'name': 'constant.character.escape.unicode.32-bit-hex.r'
    'match': '(\\\\u\\{?[0-9A-Fa-f]{4}\\}?)|(\\\\U\\{?[0-9A-Fa-f]{8}\\}?)'
    'comment': 'https://cran.r-project.org/doc/manuals/r-release/R-lang.html#Special-operators'
  'function_name':
    'patterns': [
      {
        'include': '#builtin_functions'
      }
      {
        'include': '#builtin_types'
      }
      {
        'include': '#generic_names'
      }
    ]
  'generic_names':
    'match': '([a-zA-Z]|\\.(?![0-9]))[a-zA-Z0-9._]*'
    # 'name': 'keyword.variable.name.test.kyle.r'
    'comment': 'https://cran.r-project.org/doc/manuals/r-release/R-lang.html#Identifiers'
  'illegal_names':
    'patterns': [
      {
        'match': '\\b(if|else|repeat|while|function|for|in|next|break|TRUE|FALSE|NULL|Inf|NaN|NA|NA_integer_|NA_real_|NA_complex_|NA_character_|\\.\\.\\.|\\.\\.[0-9]+)\\b'
        'name': 'invalid.illegal.name.reserved.r'
        'comment': 'https://cran.r-project.org/doc/manuals/r-release/R-lang.html#Reserved-words'
      }
      # {
      #   'match': '\\b([^a-zA-Z.][a-zA-Z0-9_.]*)\\s+(<-|=)'
      #   'name': 'invalid.illegal.name.r'
      #   'comment': 'must start with a letter or dot'
      # }
      # {
      #   'match': '(\\s|\\n)+([.][0-9][a-zA-Z0-9_.]*)\\s+(<-|=)'
      #   'name': 'invalid.illegal.name.r'
      #   'comment': 'if it starts with a dot, it can\'t be followed by a number'
      # }
    ]
  'keyword_arguments':
    'begin': '\\b(([a-zA-Z]|\\.(?![0-9]))[a-zA-Z0-9._]*)\\s*(=)(?!=)'
    'beginCaptures':
      '1':
        'name': 'variable.parameter.function.r'
      '4':
        'name': 'keyword.operator.assignment.r'
    'end': '\\s*(?:(,)|(?=$\\n?|[\\)\\:]))'
    'endCaptures':
      '1':
        'name': 'punctuation.separator.parameters.r'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  'line_comments':
    'patterns': [
      {
        'begin': '(^[ \\t]+)?(?=#\'?)'
        'beginCaptures':
          '1':
            'name': 'punctuation.whitespace.comment.leading.r'
        'end': '(?!\\G)'
        'patterns': [
          {
            'begin': '#\'?'
            'beginCaptures':
              '0':
                'name': 'punctuation.definition.comment.r'
            'end': '\\n'
            'name': 'comment.line.number-sign.r'
          }
        ]        
      }
      {
        'begin': '(^[ \\t]+)?(?=#\'[ ]*(@[a-zA-Z0-9]+))'
        'beginCaptures':
          '1':
            'name': 'punctuation.whitespace.comment.leading.roxygen.r'
        'end': '(?!\\G)'
        'patterns': [
          {
            'begin': '#\'[ ]*(@[a-zA-Z0-9]+)'
            'beginCaptures':
              '0':
                'name': 'punctuation.definition.comment.roxygen.r'
              '1':
                'name': 'keyword.roxygen.r'
            'end': '\\n'
            'name': 'comment.line.number-sign.roxygen.r'
          }
        ]        
      }
      {
        'captures':
          '1':
            'name': 'comment.line.pragma.r'
          '2':
            'name': 'entity.name.pragma.name.r'
        'match': '^(#pragma[ \\t]+mark)[ \\t](.*)'
        'name': 'comment.line.pragma-mark.r'
      }
    ]
  'operators':
    'patterns': [
      {
        'match': '(<-|<<-|->>|->)'
        'name': 'keyword.operator.assignment.r'
      }
      {
        'match': '(==|!=|<>|<|>|<=|>=)'
        'name': 'keyword.operator.comparison.r'
      }
      {
        'match': '='
        'name': 'keyword.operator.assignment.r'
        'comment': 'separate so that == is treated as one construct for ligature purposes'
      }
      {
        'match': '(\\-|\\+|\\*|\\/|%\\/%|%%|%\\*%|%in%|%o%|%x%|%>%|\\^)'
        'name': 'keyword.operator.arithmetic.r'
      }
      {
        'match': '(!|&&|&|\\|\\||\\|)'
        'name': 'keyword.operator.logical.r'
      }
      {
        'match': '(\\.\\.\\.|\\$|\\?|@|:|\\~)'
        'name': 'keyword.operator.other.r'
      }
    ]
  'regular_expressions':
    'patterns': [
      {
        'include': 'source.regexp.r'
      }
    ]
  'strings':
    'patterns': [
      {
        'begin': '"'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.string.begin.r'
        'end': '"'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.string.end.r'
        'name': 'string.quoted.double.r'
        'patterns': [
          {
            'match': '\\\\0'
            'name': 'invalid.illegal.nul.character.r'
            'comment': 'https://cran.r-project.org/doc/manuals/r-release/R-lang.html#Special-operators'
          }
          {
            'include': '#constant_placeholder'
          }
          {
            'include': '#escaped_unicode_char'
          }
          {
            'include': '#escaped_char'
          }
          {
            'include': '#regular_expressions'
          }
          {
            'match': '\\\\.'
            'name': 'constant.character.escape.r'
          }
        ]
      }
      {
        'begin': '\''
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.string.begin.r'
        'end': '\''
        'endCaptures':
          '0':
            'name': 'punctuation.definition.string.end.r'
        'name': 'string.quoted.single.r'
        'patterns': [
          {
            'match': '\\\\0'
            'name': 'invalid.illegal.nul.character.r'
            'comment': 'https://cran.r-project.org/doc/manuals/r-release/R-lang.html#Special-operators'
          }
          {
            'include': '#constant_placeholder'
          }
          {
            'include': '#escaped_unicode_char'
          }
          {
            'include': '#escaped_char'
          }
          {
            'include': '#regular_expressions'
          }
          {
            'match': '\\\\.'
            'name': 'constant.character.escape.r'
          }
        ]
      }
    ]
