'scopeName': 'source.r'
'name': 'R'
'fileTypes': [
  'R'
  'r'
  's'
  'S'
  'Rprofile'
  'Rhistory'
]
'patterns': [
  {
    'include': '#comments'
  }
  {
    'include': '#constants'
  }
  {
    'include': '#operators'
  }
  {
    'include': '#strings'
  }
  {
    'match': '\\b(logical|numeric|character|complex|matrix|array|data\\.frame|list|factor)(?=\\s*\\()'
    'name': 'storage.type.r'
  }
  {
    'match': '\\b(function|break|next|repeat|return|switch|in|invisible)\\b'
    'name': 'keyword.control.r'
  }
  {
    'comment': 'keywords that delimit flow conditionals'
    'match': '\\b(if|else)\\b'
    'name': 'keyword.control.conditional.r'
  }
  {
    'match': '\\b(library|require)\\b'
    'name': 'keyword.control.import.r'
  }
  {
    'comment': 'keywords that delimit an exception'
    'match': '\\b(try)\\b'
    'name': 'keyword.control.exception.r'
  }
  {
    'comment': 'keywords that delimit loops'
    'match': '\\b(for|while)\\b'
    'name': 'keyword.control.repeat.r'
  }
  {
    'captures':
      '1':
        'name': 'entity.name.function.r'
    'match': '([[A-Za-z].][[0-9A-Za-z]._]*)\\('
  }
  {
    'captures':
      '1':
        'name': 'entity.name.function.r'
      '2':
        'name': 'keyword.operator.assignment.r'
      '3':
        'name': 'keyword.control.r'
    'match': '([[A-Za-z].][[0-9A-Za-z]._]*)\\s*(<-)\\s*(function)'
    'name': 'meta.function.r'
  }
  {
    'captures':
      '1':
        'name': 'entity.name.tag.r'
      '4':
        'name': 'entity.name.type.r'
    'match': '(setMethod|setReplaceMethod|setGeneric|setGroupGeneric|setClass)\\s*\\(\\s*([[A-Za-z]\\d]+\\s*=\\s*)?("|\\x{27})([a-zA-Z._\\[\\$@][a-zA-Z0-9._\\[]*?)\\3.*'
    'name': 'meta.method.declaration.r'
  }
  {
    'match': '([[A-Za-z].][[0-9A-Za-z]._]*)\\s*\\('
  }
  {
    'captures':
      '1':
        'name': 'variable.parameter.r'
      '2':
        'name': 'keyword.operator.assignment.r'
    'match': '([[A-Za-z].][[0-9A-Za-z]._]*)\\s*(=)(?=[^=])'
  }
  {
    'match': '\\b([\\d_][[0-9A-Za-z]._]+)\\b'
    'name': 'invalid.illegal.variable.other.r'
  }
  {
    'match': '\\b([[0-9A-Za-z]_]+)(?=::)'
    'name': 'entity.namespace.r'
  }
  {
    'begin': '\\{'
    'beginCaptures':
      '0':
        'name': 'punctuation.section.block.begin.r'
    'end': '\\}'
    'endCaptures':
      '0':
        'name': 'punctuation.section.block.end.r'
    'name': 'meta.block.r'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
]
'repository':
  # 'functions':
  'comments':
    'patterns': [
      {
        'captures':
          '1':
            'name': 'comment.line.pragma.r'
          '2':
            'name': 'entity.name.pragma.name.r'
        'match': '^(#pragma[ \\t]+mark)[ \\t](.*)'
        'name': 'comment.line.pragma-mark.r'
      }
      {
        'begin': '#\'[ ]?(@[a-zA-Z0-9]+)'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.roxygen.r'
          '1':
            'name': 'keyword.roxygen.r'
        'end': '\\n'
        'name': 'comment.line.number-sign.roxygen.r'
      }
      {
        'begin': '#\''
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.roxygen.r'
        'end': '\\n'
        'name': 'comment.line.number-sign.roxygen.r'
      }
      {
        'begin': '#'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.comment.r'
        'end': '\\n'
        'name': 'comment.line.number-sign.r'
      }
    ]
  'constants':
    'patterns': [
      # {
      #   'match': '\\b((0(x|X)[0-9a-fA-F]*)|(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))((e|E)(\\+|-)?[0-9]+)?)(i|L|l|UL|ul|u|U|F|f|ll|LL|ull|ULL)?\\b'
      #   'name': 'constant.numeric.r'
      # }
      {
        'match': '\\b(T|F|TRUE|FALSE|NULL|NA|Inf|NaN)\\b'
        'name': 'constant.language.r'
      }
      {
        'match': '\\b(pi|letters|LETTERS|month\\.abb|month\\.name)\\b'
        'name': 'support.constant.misc.r'
      }
    ]
  'operators':
    'patterns': [
      {
        'match': '(==|!=|<>|<|>|<=|>=)'
        'name': 'keyword.operator.comparison.r'
      }
      {
        'match': '(::)'
        'name': 'keyword.operator.namespace.r'
      }
      {
        'match': '(\\-|\\+|\\*|\\/|%\\/%|%%|%\\*%|%in%|%o%|%x%|%>%|\\^)'
        'name': 'keyword.operator.arithmetic.r'
      }
      {
        'match': '(=|<-|<<-|->>|->)'
        'name': 'keyword.operator.assignment.r'
      }
      {
        'match': '(!|&&|&|\\|\\||\\|)'
        'name': 'keyword.operator.logical.r'
      }
      {
        'match': '(\\.\\.\\.|\\$|@|:|\\~)'
        'name': 'keyword.other.r'
      }
    ]
  'strings':
    'patterns': [
      {
        'begin': '"'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.string.begin.r'
        'end': '"'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.string.end.r'
        'name': 'string.quoted.double.r'
        'patterns': [
          {
            'match': '\\\\.'
            'name': 'constant.character.escape.r'
          }
        ]
      }
      {
        'begin': '\''
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.string.begin.r'
        'end': '\''
        'endCaptures':
          '0':
            'name': 'punctuation.definition.string.end.r'
        'name': 'string.quoted.single.r'
        'patterns': [
          {
            'match': '\\\\.'
            'name': 'constant.character.escape.r'
          }
        ]
      }
    ]